/* General CSS ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  padding: 4rem 15%;
}

.mob-only {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: url(./images/jp-background.png);
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.15rem;
}

/* Header ---------------------------------- */
header {
  width: 100%;
  padding: 1rem 10%;
  position: fixed;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 80px;
  height: 80px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  padding-right: 2em;
}

nav a {
  font-size: 1em;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  border-radius: 4px;
  transition: all 0.75s ease;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #dbbd44;
  transition: width 0.4s;
}

nav a:hover::after {
  width: 100%;
  transition: 0.4s;
}

.scrolled {
  background-color: #010101;
  opacity: 0.9;
  color: #fff;
  transition: 0.5s ease;
}

.burger-toggle .top-line {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-toggle .mid-line {
  opacity: 0;
}

.burger-toggle .btm-line {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Hero ---------------------------------- */
.hero {
  width: 100%;
  height: 100vh;
  background: url(./images/jp-hero.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hero::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
}

.hero-content h1 {
  font-size: 4rem;
  border-bottom: 3px solid #dbbd44;
}

.hero-content h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

/* Intro ---------------------------------- */
.intro {
  display: flex;
}

.intro .left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.intro .left img {
  width: calc(50% - 0.5rem);
}

.intro .right {
  width: 40%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.intro .right h2 {
  font-size: 1.5rem;
  border-bottom: 3px solid #dbbd44;
}

/*Navbar Hamburger Menu*/
@media (max-width: 375px) {
  .mob-only {
    display: block;
  }

  .desk-only {
    display: none;
  }

  nav {
    position: static;
  }

  .logo {
    position: relative;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    padding: 14vh 0 10vh 0;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #010101;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.35s ease-in;
    overflow-x: hidden;
  }

  .nav-links::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100%;
    background-color: #dbbd44;
  }

  .nav-links li {
    padding: 0;
    opacity: 0;
  }

  nav a::after {
    display: none;
  }

  .nav-active {
    transform: translateX(0);
  }
}
