/* General CSS ---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #010101;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  padding: 6rem 15%;
}

.mob-only {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: url(../images/jp-background.png);
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.15rem;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 5px 3px #dbbd44;
}

.img-group-wrapper {
  display: block;
  width: 60%;
}

.img-group {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.img-group img {
  width: calc(50% - 0.5rem);
  object-fit: cover;
  max-height: 525px;
}

.txt-group {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.txt-group h2 {
  font-family: "Ropa Sans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.txt-group p {
  text-align: left;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.underline {
  border-bottom: 5px solid #dbbd44;
}

.bold {
  font-weight: 600;
}

/* Header ---------------------------------- */
header {
  width: 100%;
  padding: 1rem 10%;
  position: fixed;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo a::after {
  display: none;
}

.logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  padding-right: 2em;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  border-radius: 4px;
  transition: all 0.75s ease;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #dbbd44;
  transition: width 0.4s;
}

nav a:hover::after {
  width: 100%;
  transition: 0.4s;
}

.scrolled {
  background-color: #010101;
  opacity: 0.9;
  color: #fff;
  transition: 0.5s ease;
}

.burger-toggle .top-line {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-toggle .mid-line {
  opacity: 0;
}

.burger-toggle .btm-line {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Contact ---------------------------------- */
.left.txt-group {
  padding-right: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  border: 1px solid #dbbd44;
  padding: 1rem;
}

.contact-form textarea {
  font-family: "Montserrat", sans-serif;
  resize: none;
}

.contact .img-group img {
  max-height: 500px;
}

/* Footer ---------------------------------- */
footer {
  background: url(../images/jp-background.png);
  background-size: cover;
  border-top: 1rem solid #dbbd44;
  border-bottom: 2rem solid #dbbd44;
  position: relative;
}

footer.container {
  padding: 4rem 15%;
}

footer .social-links {
  justify-content: space-between;
}

footer .social-links li {
  width: calc(50% - 1rem);
}

footer .social-links a {
  background-color: #dbbd44;
  align-items: center;
  padding: 1rem 3rem;
  justify-content: center;
  font-family: "Ropa Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

footer .social-links a:hover {
  box-shadow: 0 0 5px 3px #010101;
  letter-spacing: 3px;
}

footer .social-links img {
  height: 30px;
  width: 30px;
  margin-right: 1rem;
}

footer .footer-img {
  position: absolute;
  bottom: -2rem;
  right: 0;
  filter: drop-shadow(2px 4px 8px #010101);
  pointer-events: none;
}

footer .copyright {
  position: absolute;
  left: 50%;
  bottom: -1.75rem;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

@media (max-width: 1440px) {
  .img-group-wrapper,
  .txt-group {
    width: 50%;
  }
}

@media (max-width: 1340px) {
  .img-group img {
    max-height: 600px;
  }

  footer .footer-img {
    display: none;
  }
}

@media (max-width: 1008px) {
  .img-group-wrapper,
  .txt-group {
    width: 100%;
  }

  .txt-group h2 {
    margin-top: 2rem;
  }
}

/*Navbar Hamburger Menu*/
@media (max-width: 768px) {
  .mob-only {
    display: block;
  }

  .desk-only {
    display: none;
  }

  nav {
    position: static;
  }

  .logo {
    position: relative;
    z-index: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .nav-links {
    position: absolute;
    padding: 14vh 0 16vh 0;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #010101;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.35s ease-in;
    overflow-x: hidden;
    z-index: 1;
  }

  .nav-links::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 100%;
    background-color: #dbbd44;
  }

  .nav-links li {
    padding: 0;
    opacity: 0;
  }

  nav a::after {
    display: none;
  }

  .nav-active {
    transform: translateX(0);
  }
}

@media (max-width: 540px) {
  .container {
    padding: 4rem 10%;
  }

  footer {
    border-bottom: 4rem solid #dbbd44;
  }

  footer.container {
    padding: 2.5rem 10%;
  }

  footer .social-links li {
    width: calc(50% - 0.5rem);
  }

  footer .social-links a {
    padding: 0.5rem;
    letter-spacing: 0px;
  }

  footer .social-links img {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
  }

  footer .copyright {
    bottom: -2.75rem;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 2.25rem;
  }
}
